@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");


/* Login */


.login {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 0%;
  border-radius: 10px;
}

.image-login {
  display: flex;
  justify-content: center;
}

.btn-login {
  background-color: #4589ff;
  position: absolute;
  font-size: 16px;
  font-weight: 400;
  color: #ffffffff;
  background: #3ebde0ff;
  border-radius: 6px;
  width: 250px;
}

.checkbox {
  margin-right: 15px;
}

.sing-in {
  display: flex;
  justify-content: center;
}

.btns-log {
  display: flex;
  justify-content: center;
}

.count {
  display: flex;
  justify-content: center;
}



/* -------------------------------------------------------------------------------------------------*/
/* Register */


.form {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
}

.btn-register {
  background-color: #4589ff;
  font-size: 16px;
  font-weight: 400;
  color: #ffffffff;
  background: #3ebde0ff;
  border-radius: 6px;
  width: 300px;
}

.registerLogo {
  width: 270px;
  height: 115px;
}

.register-image {
  background-repeat: no-repeat;
}

.check-box {
  font-size: small;
}



/* -------------------------------------------------------------------------------------------------*/
/* ClientHome page */


.main-container {
  margin-bottom: 80px;
  padding-bottom: 110px;
}

.mb-0 {
  margin: 0;
}


/* ClientNavbar */

.client-navbar {
  background-color: #ebc5f6ff;
  padding: 10px 50px;
}

.navbar-img {
  width: 50px;
  height: auto;
}

.client-navbar .btn {
  padding: 0.5rem 1rem;
}

.register-btn {
  margin-right: 0;
  border-radius: 100%;
}

.serviceBtn {
  background-color: #ebc5f6ff;
  border-color: white;
  border-radius: 1%;
}


/* Next Appointment card: */

.nextAppointment {
  background-color: white;
}

.avatar-img {
  border-radius: 100%;
  height: 80px;
  width: 80px;
}

.card-title {
  margin: 0px;
}

.title {
  margin: 0px;
}

.clock {
  width: 18px;
  height: 18px;
}

.time-text {
  margin: 0px;
}

.button_whatsapp {
  background-color: rgb(241, 253, 244);
  color: rgb(56, 121, 60);
  border-radius: 30px;
}

.icon_sparkle {
  width: 35px;
  color: #bd3ee0ff;
  flex: 0 0 auto;
  margin: 0 10px;
}

.icon_crown {
  width: 35px;
  color: #bd3ee0ff;
  flex: 0 0 auto;
  margin: 0 10px;
}



/* -------------------------------------------------------------------------------------------------*/
/* ClientFooter NavBar */


.clientFooter {
  background: #ebc5f6ff;
  border-radius: 0px;
  padding: 0%;
  position: absolute;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.icons {
  background: #ebc5f663;
  padding: 2px;
  margin-top: -2.5px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.message-icon {
  font-size: large;
}

.message-text {
  font-size: small;
  margin: 0%;
}

.gear-icon {
  font-size: larger;
}

.gear-text {
  font-size: small;
  margin: 0%;
}

.home-icon {
  font-size: larger;
}

.home-text {
  font-size: small;
  margin: 0%;
}



/* -------------------------------------------------------------------------------------------------*/
/*ProductsMenuView*/


/* Promotion Card */

.manicure_promo {
  background-color: white;
  border-color: white;
  border-radius: 1%;
}


/* Products Selection Buttons*/

.productButton {
  background: rgb(246, 222, 253);
  border-radius: 6px;
  border-color: white;
}

.productActive {
  background: rgb(194, 237, 249);
}

.serviceName {
  background-color: #cbe8ff;
  border-color: #cbe8ff;
}



/* -------------------------------------------------------------------------------------------------*/
/* SelectFairyView */


.rate {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(174, 214, 74);
  border-radius: 20px;
  max-height: 40px;
}

.calendar-icon {
  font-size: larger;
}

.data-container-fairy {
  display: flex;
  justify-content: space-between;
}

.AvailableTag{
  margin: 0%;
}

.selectFairybtn {
  background-color: #3ebde0ff;
  border-color: white;
}

.selectFairybtn:hover{
  background-color: rgb(104, 222, 255);
  border-color: White;
}

/* Facial Promo 2 */

.facialPromo2 {
  height: 180px;
  width: 380px;
}



/* -------------------------------------------------------------------------------------------------*/
/* Feiry AboutView */


.calendar-icon {
  font-size: larger;
}

.calendar-text {
  font-size: small;
  margin: 0%;
}



/* -------------------------------------------------------------------------------------------------*/
/* Fairy Rating  */


.rate {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(174, 214, 74);
  border-radius: 20px;
  max-height: 40px;
}



/* -------------------------------------------------------------------------------------------------*/
/* Fairy Details */

.data-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffffff;
  border-radius: 10px;
  min-width: 300px;
  width: 60%;
  display: flex;
  justify-content: center;
}


/* Calendar */

:root {
  --c-theme-primary: #008ffd;
  --c-theme-primary-accent: #cbe8ff;
  --c-bg-primary: #d6dae0;
  --c-bg-secondary: #eaebec;
  --c-bg-tertiary: #fdfdfd;
  --c-text-primary: #1f1f25;
  --c-text-secondary: #999fa6;
}

button {
  font: inherit;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

.datepicker {
  width: 95%;
  max-width: 350px;
  background-color: var(--c-bg-tertiary);
  border-radius: 10px;
  box-shadow: 0 0 2px 0 rgba(#000, 0.2), 0 5px 10px 0 rgba(#000, 0.1);
  padding: 1rem;
}

.datepicker-top {
  margin-bottom: 1rem;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  margin-top: -0.5rem;
}

.tag {
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  border: 0;
  background-color: var(--c-bg-secondary);
  border-radius: 10px;
  padding: 0.5em 0.75em;
  font-weight: 600;
}

.month-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background-color: #fff;
  border-radius: 12px;
  width: 2.5rem;
  height: 2.5rem;
}

.month-name {
  font-weight: 600;
}

.datepicker-calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-row-gap: 1rem;
}

.day,
.date {
  justify-self: center;
}

.day {
  color: var(--c-text-secondary);
  font-size: 0.875em;
  font-weight: 500;
  justify-self: center;
}

.date {
  border: 0;
  padding: 0;
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-weight: 600;
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;

  &:focus {
    outline: 0;
    color: var(--c-theme-primary);
    border: 2px solid var(--c-theme-primary-accent);
  }
}

.faded {
  color: var(--c-text-secondary);
}

.current-day {
  color: #fff;
  border-color: var(--c-theme-primary);
  background-color: var(--c-theme-primary);

  &:focus {
    background-color: var(--c-theme-primary-accent);
  }
}


/* Calendly Buttons */

.calendar-icon {
  font-size: larger;
}

.calendar-text {
  font-size: small;
  margin: 0%;
}




/* -------------------------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------------*/
/* FairyView */


.fairyBody {
  background-color: #f2fafdff;
}


/* FairyNavbar */

.fairy-navbar {
  background-color: rgb(194, 237, 249);
  padding: 10px 50px;
}

.navbar-img {
  width: 50px;
  height: auto;
}

.client-navbar .btn {
  padding: 0.5rem 1rem;
}

.register-btn {
  margin-right: 0;
  border-radius: 100%;
}

.serviceBtn {
  background-color: #ebc5f6ff;
  border-color: white;
  border-radius: 1%;
}


/* appointmentCard */

.mapImage {
  border: 2px solid rgb(194, 237, 249);
  border-radius: 1.5%;
}


/* FairyOptionsCard */

.fairyOptionsCard{
  padding: 5%;
}

.optionsButton{
  background-color: #3ebde0ff;
  border-color: white;
}

.optionsButton:hover{
  background-color: rgb(104, 222, 255);
  border-color: White;
}


/* FairyFooter NavBar */

.fairyFooter {
  background-color: rgb(194, 237, 249);
  border-radius: 0px;
  padding: 0%;
  position: absolute;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 1;
}

.message-icon {
  font-size: large;
}

.message-text {
  font-size: small;
  margin: 0%;
}

.gear-icon {
  font-size: larger;
}

.gear-text {
  font-size: small;
  margin: 0%;
}

.home-icon {
  font-size: larger;
}

.home-text {
  font-size: small;
  margin: 0%;
}
.btn-accept-request {
  background-color: #008ffd;
  border-radius: 10px;
}



/* -------------------------------------------------------------------------------------------------*/
/*FairyMenuView*/


.productSelectText{
margin-left: 22%;
}

.manicure_heading {
  background-color: rgb(204, 234, 245);
  margin-top: 1rem;
  padding: 1rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: -1px;
  color: #bd3ee0ff;
}

.pedicure_heading {
  background-color: rgb(204, 234, 245);
  margin-top: 1rem;
  padding: 1rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: -1px;
  color: #bd3ee0ff;
}